@use "../util" as font;
@use "../util" as color;
body {
  font-family: font.$font-family;
  font-size: font.$fs-paragraph;
  font-weight: font.$fw-400;
  overflow-x: hidden;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.snap {
  &-title {
    color: color.$almost-black;
    font-weight: font.$fw-700;
    line-height: 1;
  }
  &-text {
    color: color.$medium-gray;
  }
  &-link {
    background: color.$almost-black;
    border-radius: 1rem;
    color: color.$almost-white;
    font-weight: font.$fw-700;
    text-decoration: none;
    padding: 1.3rem;
  }
  &-brand {
    display: flex;
    align-items: center;
  }
}

@media only screen and (min-width: 48rem) {
  .snap,
  .hero {
    margin: 65px auto 120px;
    width: 480px;
    height: 640px;
  }
}

@media only screen and (max-width: 48rem) {
  .main-container {
    display: flex;
    flex-direction: column-reverse;
  }
  .snap {
    margin: 0 20px;
    text-align: center;
    &-title {
      font-size: 2.194rem;
      margin: 3.125rem 0 1.875rem;
    }
    &-text {
      margin-bottom: 2.875rem;
    }
    &-brand img {
      margin: 3.125rem auto 6.25rem;
      height: auto;
      width: 4.375rem;
    }
  }

  .hero {
    margin-top: 1.875rem;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}
