@use "../util" as font;
@use "../util" as color;

.container {
  // layout
  display: flex;
  align-items: flex-start;
  padding: 30px 40px 0;
} // container

// nav-main
.nav-main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 60px;
}
.nav-list {
  display: flex;
  gap: 2.375rem;
  list-style: none;
}
.nav-link {
  color: color.$medium-gray;
  font-weight: font.$fw-700;
  text-decoration: none;

  // sub links
  &__features,
  &__company {
    list-style: none;
    display: none;
    position: absolute;
    top: 70px;
    padding: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 50px 0px;
    border-radius: 1rem;
    transition: 0.4s all;
  }
  &__features {
    left: 140px;
  }

  &__features a,
  &__company a {
    color: color.$medium-gray;
    text-decoration: none;
  }

  // hover state
  &__features a:hover,
  &__company a:hover {
    color: color.$almost-black;
  }

  &__features a[data-todolist-type="todolist"]::before {
    content: url(../images/icon-todo.svg);
    margin-right: 1rem;
  }
  &__features a[data-calendar-type="calendar"]::before {
    content: url(../images/icon-calendar.svg);
    margin-right: 1rem;
  }
  &__features a[data-reminders-type="reminders"]::before {
    content: url(../images/icon-reminders.svg);
    margin-right: 1rem;
  }
  &__features a[data-planning-type="planning"]::before {
    content: url(../images/icon-planning.svg);
    margin-right: 1rem;
  }
  // sub links // toggle js
  &__features.active-features,
  &__company.active-company {
    display: block;
  }
}

// hover state
.nav-link:hover {
  color: color.$almost-black;
}
.register {
  border: 2px solid color.$medium-gray;
  padding: 0.7rem;
  border-radius: 0.7rem;
}
.register:hover {
  border: 2px solid color.$almost-black;
}

// affter arrow
.features::after,
.company::after {
  content: url(../images/icon-arrow-down.svg);
  position: relative;
  top: -0.1rem;
  right: -0.5rem;
}

// toggle js
.features.features-up::after,
.company.company-up::after {
  content: url(../images/icon-arrow-up.svg);
  position: relative;
  top: -0.1rem;
  right: -0.5rem;
}

// toggle button menu
.btn-mobile-nav {
  display: none;
}
.icon-close-menu {
  display: none;
}

@media only screen and (max-width: 62rem) {
  .container {
    // layout
    justify-content: space-between;
    padding: 15px 20px 0;
  }

  .nav-main {
    background-color: violet;
    display: none;
    justify-content: space-between;
    width: 100%;
  }

  // toggle button menu
  .btn-mobile-nav {
    display: block;
  }
}
